body {
  margin: 20px;
  }

/****************   Nav Section **********************/
nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Trebuchet MS';
  color: white;
  background-color: rgb(102, 5, 25);
  padding: 0px 10px 0px 10px;
}

nav a {
  color:white;
}

/***********************  Footer Section   **************************/
footer {
  display: flex;
  justify-content: center;
  color:rgb(184, 10, 10);
  background-color: rgb(223, 132, 150);
  margin: 5px;
}

/*********** Splash Page ************************/
header {
display: flex;
flex-direction: column;
align-items: center;
background-color: black;
padding: 10px;
}

header h1 {
  font-family: 'Lucida Sans';
  font-size: 30px;
  color:rgb(184, 10, 10);
}

header img {
  border: 5px dotted white;
}

.address {
  background-color: black;
  color:rgb(231, 160, 160);
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}

.tagline {
  font-family: 'Trebuchet MS';
  background-color: rgb(184, 10, 10);
  color:white;
  border-radius: 15px;
  text-align: center;
  padding: 5px;
}

/************* Sections ********************/
hr {
  color:rgb(184, 10, 10);
}

section h3 {
  font-family: 'Trebuchet MS';
  color:rgb(102, 5, 25);
}

section dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section ul {
  list-style: square;
}

section a {
  color:rgb(184, 10, 10);
  text-decoration: none;
}

section a:hover {
  background-color:rgb(184, 10, 10);
  color:white;
}

/**************   Projects   *****************/
.three-col {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.card img {
  border: 5px dotted black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(19, 18, 18, 0.2);
  transition: 0.3s;
  width: 80%;
  border-radius: 5px;
  text-align: center;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
    }

    .three-col {
      grid-template-columns: 1fr;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  color: rgb(184, 10, 10);   
}

textarea {
  padding: auto;
  background-color: rgb(207, 167, 167);
}